@font-face {
  font-family: 'DigitaldreamRegular';
  src: url("../fonts/DIGITALDREAM-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
