<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="box-lever" attributes="name min max color x y width height accuracy percentage initial value orientation">
  <template>
    <style> 
    #frame {
      position: absolute;
    }
    </style>
    <div id="frame" 
      style="left: {{x}}px; top:{{y}}px; width:{{width}}px; height:{{height}}px;"></div>
  </template>
  <script>
    Polymer('box-lever', {
      ready: function() {
        this.p = new uruburu.BoxLever(this.$.frame, {
          name: this.name,
          width: parseInt(this.width),
          height: parseInt(this.height),
          min: parseFloat(this.min),
          max: parseFloat(this.max),
          initial: parseFloat(this.initial),
          orientation: this.orientation,
          accuracy: parseInt(this.accuracy),
          percentage: this.pecentage ? (this.pecentage == 'true' ? true: false): false,
          color: this.color ? this.color : 'red'
        });

        this.p.bind = this.getAttribute('value').replace('@{{', '').replace('}}', '');
      },
      nameChanged: function(val) {
        if (val != undefined) this.p.name(val);
      }, 
      widthChanged: function(val) {
        if (val != undefined) this.p.width(parseInt(val));
      },
      heightChanged: function(val) {
        if (val != undefined) this.p.height(parseInt(val));
      },
      colorChanged: function(val) {
        if (val != undefined) this.p.color(val);
      },
      minChanged: function(val) {
        if (val != undefined) this.p.min(parseFloat(val));
      },
      maxChanged: function(val) {
        if (val != undefined) this.p.max(parseFloat(val));
      },
      accuracyChanged: function(val) {
        if (val != undefined) this.p.accuracy(val);
      },
      percentageChanged: function(val) {
        if (val != undefined) this.p.percentage(val == 'true' ? true : false);
      },
      orientationChanged: function(val) {
        if (val != undefined) this.p.orientation(val);
      },
      getValue: function() {
        if (this.p) return this.p.value();
      }
    });
  </script>
</polymer-element>