<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="function-button" attributes="name x y width height color callback">
  <template>
    <style> 
    #frame {
      position: absolute;
    }
    </style>
    <div id="frame" 
      style="left: {{x}}px; top:{{y}}px; width:{{width}}px; height:{{height}}px;"></div>
  </template>
  <script>
    Polymer('function-button', {
      ready: function() {
        this.p = new uruburu.FunctionButton(this.$.frame, {
          name: this.name,
          width: parseInt(this.width),
          height: parseInt(this.height),
          color: this.color ? this.color.split(',') : null,
          callback: this.callback
        });

        this.p.bind = this.callback;
      },
      nameChanged: function(val) {
        if (val != undefined) this.p.name(val);
      }, 
      widthChanged: function(val) {
        if (val != undefined) this.p.width(parseInt(val));
      },
      heightChanged: function(val) {
        if (val != undefined) this.p.height(parseInt(val));
      },
      colorChanged: function(val) {
        if (val != undefined) this.p.color = val.split(',');
      },
      callbackChanged: function(val) {
        if (val != undefined) this.p.callback(val);
      }
    });
  </script>
</polymer-element>