<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="multisource-selector" attributes="colors value options initial width">
  <template>
    <style> 
    #frame {
      font-size: 0.8em;
      border: 1px solid #999;
      background-color: white;
    }

    .option {
      cursor: pointer;
      text-align: center;
      height: 13px;
      border-top: 1px solid #eee;
    }

    .selected {
      border-top: none;
      background-color: black!important;
      color: white;
      font-weight: bold;
    }
    </style>
    <div id="frame" style="width: {{width}}px"></div>
  </template>
  <script>
    Polymer('multisource-selector', {
      binds: [],
      options: [],
      ready: function() {
        var self = this;
        this.binds = this.getAttribute('value').replace('@{{', '').replace('}}', '').split(',');
        this.options = this.options.split(',');

        var optionsData = d3.select(this.$.frame).selectAll('.option')
          .data(this.options, function(d) { return d; });
        var row = optionsData.enter().append('div');
        row.classed('option', true)
          .html(function(d) { return d; })
          .attr('data-option', function(d) { return d; })
          .style('background-color', function(d,i) {
            return (self.colors ? self.colors[i] : 'white');
          })
          .style('width', this.width + 'px')
          .classed('selected', function(d, i) {
            if (d == self.initial) {
              for (var j = 0; j < self.options.length; j++) {
                if (self.options[j] != d) { 
                  uruburu.emit('change', self.binds[j], 0);
                }
              }
              uruburu.emit('change', self.binds[i], 1);
            }
            return d == self.initial;
          })
          .on('click', function(d, i) {
            for (var j = 0; j < self.options.length; j++) {
              if (self.options[j] != d) { 
                uruburu.emit('change', self.binds[j], 0);
              }
            }
             
            uruburu.emit('change', self.binds[i], 1);
          });

        optionsData.exit().remove();
      },
      colorsChanged: function(val) {
        if (val != undefined) {
          var row = d3.select(this.$.frame).selectAll('.option');
          row.style('background-color', function(d, i) {
            return (self.colors ? self.colors[i] : 'white');
          });
        }
      },
      widthChanged: function(val) {
        if (val != undefined) {
          var row = d3.select(this.$.frame).selectAll('.option');
          row.style('width', this.width + 'px');
        }
      },
      setValue: function(name, val) {
        if (val) {
          d3.select(this.$.frame).selectAll('.option').classed('selected', false);
          d3.select(this.$.frame).selectAll('.option[data-option="' 
            + this.options[this.binds.indexOf(name)] + '"]')
            .classed('selected', true);
        }
      },
      getValue: function() {
         return d3.select(this.$.frame).selectAll('.selected').attr('data-option');
      }
    });
  </script>
</polymer-element>