<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="num-display" attributes="name x y width height accuracy percentage initial value">
  <template>
    <style> 
    #frame {
      position: absolute;
    }
    </style>
    <div id="frame" 
      style="left: {{x}}px; top:{{y}}px; width:{{width}}px; height:{{height}}px;"></div>
  </template>
  <script>
    Polymer('num-display', {
      ready: function() {
        this.p = new uruburu.NumDisplay(this.$.frame, {
          name: this.name,
          width: parseInt(this.width),
          height: parseInt(this.height),
          initial: parseFloat(this.initial),
          accuracy: parseInt(this.accuracy),
          percentage: this.pecentage ? (this.pecentage == 'true' ? true: false): false
        });
      },
      nameChanged: function(val) {
        if (val != undefined) this.p.name(val);
      }, 
      widthChanged: function(val) {
        if (val != undefined) this.p.width(parseInt(val));
      },
      heightChanged: function(val) {
        if (val != undefined) this.p.height(parseInt(val));
      },
      accuracyChanged: function(val) {
        if (val != undefined) this.p.accuracy(val);
      },
      percentageChanged: function(val) {
        if (val != undefined) this.p.percentage(val == 'true' ? true : false);
      },
      setValue: function(val) {
        if (val != undefined) this.p.value(parseFloat(val));
      }
    });
  </script>
</polymer-element>