<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="pie-dial" attributes="name min max color x y r accuracy percentage initial value">
  <template>
    <style> 
    #frame {
      position: absolute;
    }
    </style>
    <div id="frame" 
      style="width:{{2*parseInt(r || 75)}}px; height:{{2*parseInt(r || 75)}}px; pointer-events: none;"></div>
  </template>
  <script>
    Polymer('pie-dial', {
      ready: function() {
        this.p = new uruburu.PieDial(this.$.frame, {
          name: this.name,
          x: parseInt(this.x),
          y: parseInt(this.y),
          r: parseInt(this.r),
          min: parseFloat(this.min),
          max: parseFloat(this.max),
          initial: parseFloat(this.initial),
          accuracy: parseInt(this.accuracy),
          percentage: this.pecentage ? (this.pecentage == 'true' ? true: false): false,
          color: this.color ? this.color : 'red'
        });

        this.p.bind = this.getAttribute('value').replace('@{{', '').replace('}}', '');
      },
      nameChanged: function(val) {
        if (val != undefined) this.p.name(val);
      }, 
      xChanged: function(val) {
        if (val != undefined) this.p.x(parseInt(val));
      },
      yChanged: function(val) {
        if (val != undefined) this.p.y(parseInt(val));
      },
      rChanged: function(val) {
        if (val != undefined) this.p.r(parseInt(val));
      },
      colorChanged: function(val) {
        if (val != undefined) this.p.color(val);
      },
      minChanged: function(val) {
        if (val != undefined) this.p.min(parseFloat(val));
      },
      maxChanged: function(val) {
        if (val != undefined) this.p.max(parseFloat(val));
      },
      accuracyChanged: function(val) {
        if (val != undefined) this.p.accuracy(val);
      },
      percentageChanged: function(val) {
        if (val != undefined) this.p.percentage(val == 'true' ? true : false);
      },
      getValue: function() {
        if (this.p) return this.p.value();
      },
      parseInt: function(val) {
        return parseInt(val);
      }
    });
  </script>
</polymer-element>