<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="pie-gauge" attributes="name min max color x y r accuracy percentage initial value math">
  <template>
    <style> 
    #frame {
      position: absolute;
    }
    </style>
    <div id="frame" 
      style="left: {{x}}px; top:{{y}}px; width:{{2*parseInt(r || 75)}}px; height:{{2*parseInt(r || 75)}}px;"></div>
  </template>
  <script>
    Polymer('pie-gauge', {
      ready: function() {
        this.p = new uruburu.PieGauge(this.$.frame, {
          name: this.name,
          r: parseInt(this.r),
          min: parseFloat(this.min),
          max: parseFloat(this.max),
          initial: parseFloat(this.initial),
          accuracy: parseInt(this.accuracy),
          math: this.math,
          percentage: this.pecentage ? (this.pecentage == 'true' ? true: false): false,
          color: this.color ? this.color : 'red'
        });
      },
      nameChanged: function(val) {
        if (val != undefined) this.p.name(val);
      }, 
      rChanged: function(val) {
        if (val != undefined) this.p.r(parseInt(val));
      },
      colorChanged: function(val) {
        if (val != undefined) this.p.color(val);
      },
      minChanged: function(val) {
        if (val != undefined) this.p.min(parseFloat(val));
      },
      maxChanged: function(val) {
        if (val != undefined) this.p.max(parseFloat(val));
      },
      accuracyChanged: function(val) {
        if (val != undefined) this.p.accuracy(val);
      },
      mathChanged: function(val) {
        if (val != undefined) this.p.math(val);
      },
      percentageChanged: function(val) {
        if (val != undefined) this.p.percentage(val == 'true' ? true : false);
      },
      setValue: function(val) {
        if (val != undefined) this.p.value(parseFloat(val));
      },
      parseInt: function(val) {
        return parseInt(val);
      }
    });
  </script>
</polymer-element>