<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="pie-knob" attributes="name color x y r levels initial value">
  <template>
    <style> 
    #frame {
      position: absolute;
    }
    </style>
    <div id="frame" 
      style="width:{{2*parseInt(r || 75)}}px; height:{{2*parseInt(r || 75)}}px; pointer-events: none;"></div>
  </template>
  <script>
    Polymer('pie-knob', {
      ready: function() {
        this.p = new uruburu.PieKnob(this.$.frame, {
          name: this.name,
          x: parseInt(this.x),
          y: parseInt(this.y),
          r: parseInt(this.r),
          initial: parseFloat(this.initial),
          levels: this.levels ? this.levels.split(',') : null,
          color: this.color ? this.color : 'red'
        });

        this.p.bind = this.getAttribute('value').replace('@{{', '').replace('}}', '');
      },
      nameChanged: function(val) {
        if (val != undefined) this.p.name(val);
      }, 
      xChanged: function(val) {
        if (val != undefined) this.p.x(parseInt(val));
      },
      yChanged: function(val) {
        if (val != undefined) this.p.y(parseInt(val));
      },
      rChanged: function(val) {
        if (val != undefined) this.p.r(parseInt(val));
      },
      colorChanged: function(val) {
        if (val != undefined) this.p.color(val);
      },
      levelsChanged: function(val) {
        if (val != undefined) this.p.levels = val.split(',');
      },
      getValue: function() {
        if (this.p) return this.p.value();
      },
      parseInt: function(val) {
        return parseInt(val);
      }
    });
  </script>
</polymer-element>