<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="rt-plot" 
  attributes="name color x y width height value xLabel yLabel timePerDivision tRange \
    yRangeMin yRangeMax secPerPixel yGraduationsDelta graduationsVisible xGrid yGrid">
  <template>
    <style> 
    #frame {
      position: absolute;
    }
    </style>
    <div id="frame" 
      style="left: {{x}}px; top:{{y}}px; width:{{width}}px; height:{{height}}px;"></div>
  </template>
  <script>
    Polymer('rt-plot', {
      ready: function() {
        this.p = new uruburu.RTPlot(this.$.frame, {
          name: this.name,
          width: parseInt(this.width),
          height: parseInt(this.height),
          xLabel: this.xLabel,
          yLabel: this.yLabel,
          timePerDivision: parseFloat(this.timePerDivision),
          tRange: this.tRange ? this.tRange.split(',') : null,
          yRangeMin: parseFloat(this.yRangeMin),
          yRangeMax: parseFloat(this.yRangeMax),
          secPerPixel: parseFloat(this.secPerPixel),
          yGraduationsDelta: parseFloat(this.yGraduationsDelta),
          graduationsVisible: 
            this.graduationsVisible != undefined ? (this.graduationsVisible == "true" ? true : false) : true,
          xGrid: this.xGrid == "true" ? true : false,
          yGrid: this.yGrid == "true" ? true : false,
          color: this.color ? this.color : 'blue'
        });
      },
      nameChanged: function(val) {
        if (val != undefined) this.p.name(val);
      }, 
      widthChanged: function(val) {
        if (val != undefined) this.p.width(parseInt(val));
      },
      heightChanged: function(val) {
        if (val != undefined) this.p.height(parseInt(val));
      },
      colorChanged: function(val) {
        if (val != undefined) this.p.color(val);
      },
      xGridChanged: function(val) {
        if (val != undefined) this.p.xGrid(val == "true" ? true : false);
      },
      yGridChanged: function(val) {
        if (val != undefined) this.p.yGrid(val == "true" ? true : false);
      },
      yRangeMinChanged: function(val) {
        if (val != undefined) this.p.yRangeMin(parseFloat(val));
      },
      yRangeMaxChanged: function(val) {
        if (val != undefined) this.p.yRangeMax(parseFloat(val));
      },
      xLabelChanged: function(val) {
        if (val != undefined) this.p.xLabel(val);
      },
      yLabelChanged: function(val) {
        if (val != undefined) this.p.yLabel(val);
      },
      tRangeChanged: function(val) {
        if (val != undefined) this.p.tRange = val.split(',');
      },
      yGraduationsDeltaChanged: function(val) {
        if (val != undefined) this.p.yGraduationsDeltaChanged(parseFloat(val));
      },
      graduationsVisibleChanged: function(val) {
        if (val != undefined) this.p.graduationsVisible(val != undefined ? (val == "true" ? true : false) : true);
      },
      setValue: function(val) {
        if (val !== undefined) this.p.value([new Date().getTime(), val]);
      }
    });
  </script>
</polymer-element>