<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="selection-field" attributes="colors value options initial width">
  <template>
    <style> 
    #frame {
      font-size: 0.8em;
      border: 1px solid #999;
      background-color: white;
    }

    .option {
      cursor: pointer;
      text-align: center;
      height: 13px;
      border-top: 1px solid #eee;
    }

    .selected {
      border-top: none;
      background-color: black!important;
      color: white;
      font-weight: bold;
    }
    </style>
    <div id="frame" style="width: {{width}}px"></div>
  </template>
  <script>
    Polymer('selection-field', {
      bind: '',
      ready: function() {
        var self = this;
        this.bind = this.getAttribute('value').replace('@{{', '').replace('}}', '');
        var options = this.options.split(',');
        for (var i = 0; i < options.length; i++) {
          var elems = options[i].split(':');
          options[i] = { name: elems[0], value: elems[1] };
        }
        var optionsData = d3.select(this.$.frame).selectAll('.option')
          .data(options, function(d) { return d.name; });
        var row = optionsData.enter().append('div');
        row.classed('option', true)
          .html(function(d) { return d.name; })
          .attr('data-option', function(d) { return d.value; })
          .style('background-color', function(d,i) {
            return (self.colors ? self.colors[i] : 'white');
          })
          .style('width', this.width + 'px')
          .classed('selected', function(d) {
            if (d.name == self.initial) {
              uruburu.emit('change', self.bind, d.value);
            }
            return d.name == self.initial;
          })
          .on('click', function(d) {
            d3.select(self.$.frame).selectAll('.option').classed('selected', false);
            d3.select(self.$.frame).select('.option[data-option="' + d.value + '"]')
              .classed('selected', true);
            uruburu.emit('change', self.bind, d.value);
          });

        optionsData.exit().remove();
      },
      colorsChanged: function(val) {
        if (val != undefined) {
          var row = d3.select(this.$.frame).selectAll('.option');
          row.style('background-color', function(d,i) {
            return (self.colors ? self.colors[i] : 'white');
          });
        }
      },
      widthChanged: function(val) {
        if (val != undefined) {
          var row = d3.select(this.$.frame).selectAll('.option');
          row.style('width', this.width + 'px');
        }
      },
      setValue: function(val) {
        if (val != undefined) {
          d3.select(this.$.frame).selectAll('.option').classed('selected', false);
          d3.select(this.$.frame).selectAll('.option[data-option="' + val + '"]')
            .classed('selected', true);
        }
      },
      getValue: function() {
         return d3.select(this.$.frame).selectAll('.selected').attr('data-option');
      }
    });
  </script>
</polymer-element>