<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="switchable-led" attributes="onColor offColor x y width height initial value">
  <template>
    <style> 
    #frame {
      position: absolute;
      cursor: pointer;
      background-color: #333;
      border: 1px solid #999;
    }
    </style>
    <div id="frame"
      style="left: {{x}}px; top:{{y}}px; width:{{width}}px; height:{{height}}px;"></div>
  </template>
  <script>
    Polymer('switchable-led', {
      status: undefined,
      ready: function() {
        var self = this;
        var onColor = this.onColor || 'red',
          offColor = this.offColor || '#333';
        this.bind = this.getAttribute('value').replace('@{{', '').replace('}}', '');
        if (!this.width) this.width = 20;
        if (!this.height) this.height = 20;
        d3.select(this.$.frame)
          .style('background-color', this.initial ? onColor : offColor)
          .attr('title', this.bind);
        this.status = this.initial;
        uruburu.emit('change', this.bind, this.initial);
        d3.select(this.$.frame).on('click', function() {
          self.status = !self.status;
          uruburu.emit('change', self.bind, self.status);
        });
      },
      setValue: function(val) {
        if (val != undefined) {
          var onColor = this.onColor || 'red',
            offColor = this.offColor || '#333';
          d3.select(this.$.frame).style('background-color', val ? onColor : offColor);
          this.status = val;
        }
      },
      getValue: function() {
         return this.status;
      }
    });
  </script>
</polymer-element>